<nav class="navbar navbar-light fond">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="accueil" routerLinkActive="active">
        <i class="fas fa-home"></i>
        Accueil
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="carte" routerLinkActive="active">
        <i class="fas fa-globe-africa"></i>
        Carte
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="tableau" routerLinkActive="active">
        <i class="fas fa-clipboard-list"></i>
        Résumé
      </a>
    </li>
  </ul>
</nav>
