<div class="row justify-content-center">

  <!-- Carte -->
  <div *ngIf="isLoading === false && listePays" id="cartemonde" class="my-4"></div>

  <!-- Loader -->
  <div *ngIf="isLoading === true" class="hauteur mt-3 justify-content-center text-center">
    <div
      class="spinner-border text-success my-4"
      role="status"
    >
    </div>
    <div>En chargement ...</div>
  </div>

  <!-- Erreur -->
  <div *ngIf="isLoading === false && !listePays" class="my-4">
    Une erreur est survenue : veuillez réessayer ultérieurement
  </div>

  <!-- Formulaire -->
  <div class="ml-5 mt-4">
    <div class="border fond px-3 pb-3">
      <h3>Ajouter un pays :</h3>
      <form [formGroup]="ajouterPaysForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nom">Nom du pays</label>
          <input
            type="text"
            name="nom"
            class="form-control"
            formControlName="nom"
          >
        </div>
        <div class="form-group">
          <label>Catégorie de pays</label>
          <select class="form-control" name="etat" formControlName="etat">
            <option value="aVisiter">A visiter</option>
            <option value="dejaVisite">Déjà visité</option>
          </select>
        </div>
        <div class="form-group">
          <label for="longitude">Longitude</label>
          <input
            type="text"
            name="longitude"
            class="form-control"
            formControlName="longitude"
          >
        </div>
        <div class="form-group">
          <label for="latitude">Latitude</label>
          <input
            type="text"
            name="latitude"
            class="form-control"
            formControlName="latitude"
          >
        </div>
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="ajouterPaysForm.invalid"
        >
          Envoyer
        </button>
      </form>
    </div>

    <!-- Légende -->
    <div class="my-5">
      <b>Légende :</b>
      <div class="row align-bottom pt-4 pl-3">
        <img class="col-2" src="assets/images/origine-icon.png" alt="icone indiquant l'\origine des voyages" />
        <p class="align-bottom"> : centre du monde</p>
      </div>
      <div class="row align-bottom pt-2 pl-3">
        <img class="col-2" src="assets/images/deja-fait-icon.png" alt="icone indiquant les pays déjà visités" />
        <p class="align-bottom"> : pays déjà visités</p>
      </div>
      <div class="row align-bottom pt-2 pl-3">
        <img class="col-2" src="assets/images/a-faire-icon.png" alt="icone indiquant les pays à visiter" />
        <p class="align-bottom"> : pays à visiter</p>
      </div>
    </div>

  </div>
</div>
